.Accommodations {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
}

.Accommodations-title {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 3.5em;
}

.Accommodations-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}

.Accommodations-desc {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-bottom: 5%;
}

.Accommodations button {
    font-family: 'Lato', sans-serif;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    text-decoration: none;
}

.Accommodations-phone,
.Accommodations h3 {
    color:  #2747ad;
}
