.Events {
    position: fixed; 
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/events/events-bg.jpg");
    background-position: center bottom;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.Events-title {
    padding-top: 5%;
    font-family: 'Sacramento', cursive;
    text-align: center;
    margin: 5%;
    font-size: 3.9em;
    color: white;
}

.Events-sangeet, .Events-wedding,
.Events-reception {
    color: white;
    text-align: center;
    margin: 5%;
}

.Event-header {
    font-family: 'Sacramento', cursive;
    font-size: 28px;
}

.Event-text {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

button {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
  }
  
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
  
  button { /* 1 */
    overflow: visible;
  }
  
  /**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
  
  button { /* 1 */
    text-transform: none;
  }
  
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
  
  button {
    -webkit-appearance: button;
  }

.Events button {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 5px 20px 5px 20px;
    /* margin-top: 40px; */
    background-color: Transparent;
    border: 2px solid white;
    height: 30px;
    color:white;
}

.Events a:visited { 
    color: white;
}

.Events button:hover {
    background: white;
    color: black;
}

.Events a:hover {
    color: black;
    background: white;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Events {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/events/events-bg-mobile.jpg");
        display: flex;
        flex-direction: column;
        align-content: center;    
    }

    .Events-title {
        padding-top: 40%;
        font-family: 'Sacramento', cursive;
        text-align: center;
        margin: 5%;
        font-size: 3em;
    }

    .Event-header {
        font-size: 24px;
    }

    .Event-text {
        font-family: 'Lato', sans-serif;
        font-size: 16px;
    }

    .Events button {
        font-size: 12px;
    }

    .Events-reception {
        padding-bottom: 30%;
    }
}

