.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.Home-main {
    flex-grow: 1;
    background-image: url("./../media/home.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
}


.Home-names{
    font-family: 'Sacramento', cursive;
    font-size: 3.5em;
    text-align: left;
    color: white;
    position: relative;
    margin-left: 10%;
    margin-top: 30%;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Home-main {
        background-image: url("./../media/home-mobile.jpg");  
        display: flex;
        flex-direction: column;
        align-content: center;      
    }

    .Home-names {
        margin-top: 0;
        top: 200px;
        margin-left: 0;
        font-size: 2em;
        text-align: center;
    }
}