.Home {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

.Home-main {
    flex-grow: 1;
    background-image: url("./../media/home.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
}

.Home-info {
    position: relative;
    margin-left: 10%;
    margin-top: 30%;
}


.Home-names{
    font-family: 'Sacramento', cursive;
    font-size: 100px;
    text-align: left;
    color: white;
}

h3.Home-date {
    display: none;
}

/* Medium screens  */
@media all and (max-width: 800px) {
    .Home-date {
        display: none;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .Home-main {
        background-image: url("./../media/home-mobile.jpg");  
        display: flex;
        flex-direction: column;
        align-content: center;      
    }

    .Home-info {
        text-align: center;
        top: 175px;
        margin-top: 0;
        margin-left: 0;
    }

    .Home-names {
        font-size: 42px;
        margin-bottom: 0;
    }

    h3.Home-date {
        font-family: 'Lato', sans-serif;
        display: inline;
        color: white;
        font-size: 16px;
    }
}