.NavBar {
    font-family: 'Frank Ruhl Libre', serif;
    overflow: hidden;
    background-color: white;
    position: fixed; 
    top: 0; 
    width: 100%;
}

.NavBar-container {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.NavBar-main {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavBar-options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavBar-option {
    margin: 8px;
    font-size: 1em;
}

.NavBar-heart{
    height: 16px;
    width: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.NavBar ul {
    padding: 0;
    list-style-type: none;
}

.NavBar a {
    text-decoration: none;
}

.NavBar a:hover {
    color: blue;
    cursor: pointer;
}

/* Medium screens */
@media all and (max-width: 800px) {
    .NavBar-options {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }
  
  /* Small screens */
  @media all and (max-width: 500px) {
    .NavBar-options {
      /* On small screens, we are no longer using row direction but column */
      flex-wrap: wrap;
    }
  }