.Photos {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    padding-top: 5%;
}

.Photos-title {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 3.5em;
}