.Photos {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    position: fixed; 
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/weddingparty/wp-bg.jpg");
    background-position: center bottom;
    background-size: cover;
    align-items: center;
}

.Photos-title {
    text-align: center;
    padding-top: 5%;
    font-family: 'Sacramento', cursive;
    font-size: 3.9em;
    color: white;
    margin: 5%;
}