.Rsvp {
    position: fixed; 
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/rsvp/rsvp-bg.jpg");
    background-position: center top;
    background-size: cover;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

}

.Rsvp-title {
    padding-top: 5%;
    font-family: 'Sacramento', cursive;
    font-size: 3.9em;
    color: white;
    text-align: center;
    margin: 5%;
}

.Rsvp-container {
    border: 2px solid white;
    width: 600px;
    padding: 25px;
}

.Rsvp-info {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-size: 18px;
}

.Rsvp a {
    color: white;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Rsvp {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/rsvp/rsvp-bg-mobile.jpg");
    }

    .Rsvp-title {
        padding-top: 45%;
        font-family: 'Sacramento', cursive;
        text-align: center;
        margin: 5%;
        font-size: 3em;
    }

    .Rsvp-container {
        width: 300px;
        padding: 25px;
    }

    .Rsvp-info {
        font-size: 16px;
    }
}