.Rsvp {
    position: fixed; 
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/rsvp/rsvp-bg.jpg");
    background-position: center top;
    background-size: cover;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Rsvp-title {
    padding-top: 5%;
    font-family: 'Sacramento', cursive;
    font-size: 3.9em;
    color: white;
    /* position: relative; */
    text-align: center;
    /* left: -20%; */
    margin: 5%;
}

.Rsvp-comingsoon {
    font-family: 'Sacramento', cursive;
    font-size: 1.7em;
    text-align: center;
    color: white;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .Rsvp {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/rsvp/rsvp-bg-mobile.jpg");
    }
    .Rsvp-comingsoon {
        font-size: 1.2em;
    }
}