.VideoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.VideoModal button:hover {
    color: black;
    background-color: white;
}

/* .VideoModal button:hover .VideoModal-arrow {
    filter: invert(100%)
} */

.VideoModal button {
    display: flex;
    font-family: 'Lato', sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 5px 28px 5px 28px;
    margin-top: 40px;
    background-color: Transparent;
    border: none;
    height: 50px;
    color: white;
    border: 1px solid white;
}

.VideoModal-arrow {
    height: 16px;
    width: 16px;
    margin-left: 10px;
    color: black;
}

a {
  text-decoration: none;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .VideoModal button {
        display: flex;
        margin-top: 40px;
        font-size: 14px;
    }

    video {
        height: 300px;
        padding-bottom: 400px;
    }
}