.VideoModal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VideoModal button:hover {
    color: white;
    background-color: black;
}

.VideoModal video {
    width: 100%;
    /* height: auto; */
    height: 800px;
}

.VideoModal button {
    display: flex;
    font-family: 'Lato', sans-serif;
    text-align: center;
    cursor: pointer;
    padding: 5px 28px 5px 28px;
    margin-top: 30px;
    background-color: Transparent;
    border: none;
    height: 50px;
    color: black;
    border: 1px solid black;
    margin-bottom: 10px;
}

.VideoModal-arrow {
    height: 16px;
    width: 16px;
    margin-left: 10px;
    color: black;
}

a {
  text-decoration: none;
}

/* Medium screens  */
@media all and (max-width: 1000px) {
    .VideoModal {
        height: 100vh;
    }

    .VideoModal video {
        height: auto;
    }
}

/* Medium screens  */
@media all and (max-width: 800px) {
    .VideoModal {
        height: 100vh;
    }

    .VideoModal video {
        height: auto;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .VideoModal {
        height: 100vh;
    }
    .VideoModal button {
        display: flex;
        margin-top: 40px;
        font-size: 14px;
    }

    .VideoModal video {
        margin-top: 20%;
        height: auto;
    }
}