.WeddingParty {
    flex-direction: column;
    position: fixed; 
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/weddingparty/wp-bg.jpg");
    background-position: center top;
    background-size: cover;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
}

.WeddingParty-title {
    text-align: center;
    padding-top: 5%;
    font-family: 'Sacramento', cursive;
    font-size: 3.9em;
    color: white;
    left: -20%;
    margin: 5%;
}

.WeddingParty-info {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.WeddingParty-desc {
    padding: 2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: white;
}

.WeddingParty-desc p {
    font-size: 18px;
}

.WeddingParty-info-section{
    font-family: 'Sacramento', cursive;
    font-size: 2.9em;
    text-align: center;
    color:white;
}

.WeddingParty-name {
    margin-bottom: 0px;
    text-align: center;
} 

.WeddingParty img {
    border: 5px white solid;
}

/* Medium screens  */
@media all and (max-width: 800px) {
}

/* Small screens */
@media all and (max-width: 500px) {
    .WeddingParty {
        background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./../media/weddingparty/wp-bg-mobile.jpg");
    }

    .WeddingParty-info {
        display: inherit;
        flex-direction: initial;
    }

    .WeddingParty-title {
        padding-top: 45%;
        text-align: center;
        margin: 5%;
        font-size: 3em;
    }

    .WeddingParty img {
        height: 200px;
    }

    .WeddingParty-info-section{
        font-size: 2.2em;
    }

    .WeddingParty p {
        font-size: 16px;
    }

    .WeddingParty-info {
        padding-bottom: 30%;
    }
}

